dotenv

use flake

export NIXOS_HOST_GATEKEEPER_IP=116.203.24.1
export NIXOS_HOST_GATEKEEPER_SSH_USER=root
export NIXOS_HOST_GATEKEEPER_SSH_PORT=22

export NIXOS_HOST_MAIN_IP=91.99.65.167
export NIXOS_HOST_MAIN_SSH_USER=root
export NIXOS_HOST_MAIN_SSH_PORT=22
