.direnv
.terraform

*.tfvars

*terraform.tfstate*
**/*/templated

result*
manifest.json
taloscfg
talosconfig
target
.awsrc
.DS_Store
.env
etcd.backup
crds
crds.json
resources
resources.json
world-backup-2
backup.sql
/valheim-backups/backups/valheim
