{
    auto_https off
    servers {
        timeouts {
            read_body 0
            read_header 30s
            write 0
            idle 5m
        }
    }
}

http://hass.juliamertz.dev, http://hass.juliamertz.nl {
    reverse_proxy http://hydra.headscale.local:8123 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
}

http://watch.juliamertz.dev, http://watch.juliamertz.nl {
    request_body {
        max_size 0
    }
    reverse_proxy http://hydra.headscale.local:8096 {
        transport http {
            response_header_timeout 0
            read_timeout 0
            write_timeout 0
        }
        flush_interval -1
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
}

# vim:ft=caddy
